.alert {
    border: 1px solid transparent;
    padding-top: 6px;
    padding-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
    text-align: center;
    width: 300px;
    position: absolute;
    right: 41.5%;
    animation-name: close;
    animation-duration: 1s;
    animation-delay: 5s;
    animation-fill-mode: forwards;
    
}


@keyframes close {
    50% {
        transform: scale(1.15);
        transform: rotateX('80deg')
    }
    100% {
        transform: scale(0);
    }

}

.card {
    border: 1.25px solid #e27500;
    background-color: #2A2D32;
}
.card-title, .card-text, .card-header, .card-footer {
    color: white;
}
.card-title {
    font-weight: 800;
}
.card-footer {
    border-top: .5px solid white;
    margin-top: 10px;
}
.container, .col-sm {
    margin-top: 2.5em;
}
.btn-primary {
    border-width: 2px;
    border-color: #e27500;
}
