* {
    background-color: #2A2D32;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p {
    color: white;
}

.rice-logo {
    display: inline-block;
    height: 48px;
    width: 48px;
    position: absolute;
    right: 50em;
    top: 1.45em
}

.header {
    display: inline;
    font-size: 40px;
}

.nav {
    display: inline;
    border: 3px solid white;
    padding: 5px;
    color: white;
    position: relative;
    left: 40em;
    /*top: -4.5em;*/
}
.nav:hover {
    color: #e27500;
    border-color: #e27500;
    transition: all .5s;
}

.ph {
    display: block;
    border-radius: 80px;
    border-color: #3c3535;
    border-style: solid;
    border-width: 8px;
}

/*
.darkmode {
    display: inline-block;
    position: relative;
    left: 20em;
    top: .60em;
}
    .toggle {
        position : relative ;
        display : inline-block;
        width : 50px;
        height : 26px;
        background-color: gray;
        border-radius: 30px;
        border: 2px solid gray;
    }
            
    .toggle:after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: white;
        top: 1px; 
        left: 1px;
        transition:  all 0.5s;
        * {
            bac
        }
    }
            

    p.toggle_text {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        position: relative;
        left: 50em;
    }
            
    .checkbox:checked + .toggle::after {
        left : 24.5px; 
    }
            
    .checkbox:checked + .toggle {
        background-color: #2196F3;
    }
            
    .checkbox { 
        display : none;
    }

*/