* {
    background-color: #2A2D32;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p {
    color: white;
}

.rice-logo {
    display: inline-block;
    height: 48px;
    width: 48px;
    position: absolute;
    right: 50em;
    top: 1.45em
}

.header {
    display: inline;
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
    font-size: 40px;
}

.nav {
    display: inline;
    border: 3px solid white;
    padding: 5px;
    color: white;
    position: relative;
    left: 44em;
}
.nav:hover {
    color: #e27500;
    border-color: #e27500;
    transition: all .5s;
}

.ph {
    display: block;
    border-radius: 80px;
    border-color: #3c3535;
    border-style: solid;
    border-width: 8px;
}

p.liked {
    display: block;
    color: green;
    position: absolute;
    left: 16.45em;
    top: 17em
}

ul.liked {
    display: block;
    color: green;
    position: absolute;
    right: 70em;
    top: 20em;
}

p.disliked {
    display: block;
    color: red;
    position: absolute;
    left: 25em;
    top: 17em
}

ul.disliked {
    display: block;
    color: red;
    position: absolute;
    left: 23.45em;
    top: 20em;
}