* {
    background-color: #2A2D32;
}
p {
    color: white;
}

.rice-logo {
    display: inline-block;
    height: 48px;
    width: 48px;
    position: absolute;
    right: 50em;
    top: 1.45em
}

.header {
    display: inline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

.home {
    display: inline;
    border: 3px solid white;
    padding: 5px;
    color: white;
    position: absolute;
    right: 15.15em;
    top: 1.5em 
}

.gallery {
    display: inline;
    border: 3px solid white;
    padding: 5px;
    color: white;
    position: absolute;
    right: 1em;
    top: 1.5em
    
}

.about {
    display: inline;
    border: 3px solid white;
    padding: 5px;
    color: white;
    position: absolute;
    top: 1.5em;
    right: 9.6em;
}

.git {
    display: inline;
    border: 3px solid white;
    padding: 5px;
    color: white;
    position: absolute;
    top: 1.5em;
    right: 5.4em;
}

.ph {
    display: block;
    border-radius: 80px;
    border-color: #3c3535;
    border-style: solid;
    border-width: 8px;
}

p.liked {
    display: block;
    color: green;
    position: absolute;
    left: 16.45em;
    top: 17em
}

ul.liked {
    display: block;
    color: green;
    position: absolute;
    right: 70em;
    top: 20em;
}

p.disliked {
    display: block;
    color: red;
    position: absolute;
    left: 25em;
    top: 17em
}

ul.disliked {
    display: block;
    color: red;
    position: absolute;
    left: 23.45em;
    top: 20em;
}