

$modal-content-color: white;
$success: #69ff52;
$dark: #2A2D32;

@import "../bootstrap/scss/bootstrap";

// Create your own map
$custom-colors: (
  "default": white
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);