/*
// Required
@import "../bootstrap/scss/functions";

// Default variable overrides
$primary: #e27500;
$success: #0d6efd;

// Required
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/mixins";

// Optional Bootstrap components here

@import "../bootstrap/scss/root";
@import "../bootstrap/scss/reboot";
@import "../bootstrap/scss/type";
*/

$modal-content-color: white;
$success: #69ff52;
@import "../bootstrap/scss/bootstrap";

// Create your own map
$custom-colors: (
  "default": white
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);